<!DOCTYPE html>
<html>
  <head>
	<meta charset="usf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="responsive website for all devices">
	<meta name="keywords" content="website responsive, HTML, CSS3,">
	<meta name="author" content="NorCalVictoria, web developer, software engineer, front end responsive">
	<title>Virtual Origami | About</title>
	<link rel="stylesheet" href="./static/css/style.css">
  </head>

  <body>
	<header>
	  <div class="container">
	  	<div id="branding">
	  	  <h1><span class="highlight">Origami</span> Web Design</h1>
	  </div>
	  <nav>
	  	<ul>
	  		<li><a href="/">Home</a></li>
	  		<li class="current"><a href="about.html">About</a></li>
	  		<li><a href="services.html">Services</a></li>

	  	</ul>
	</header>

	

	<section id="newsletter">
	  <div class="container">
		<h1>Sign Up For New Templates</h1>
		  <form>

		  	<input type="email" placeholder="Enter Email">
		  	<button type="submit" class="button_1">Subcribe</button>
		  </form>
		</div>
	 </section>

	 <section id="main">
	 	<div class="container">
	 		<article id="main-col">
	 			<h1 class="page-title"> About Us </h1>
	 			<p>In hac habitasse platea dictumst. Suspendisse vestibulum gravida ipsum ut mollis. Integer posuere, magna id efficitur pretium, diam dui semper arcu, eget commodo eros tortor ac mi. Donec eget dapibus odio. Aenean nec elit at ex elementum varius at ut neque. Nulla vestibulum auctor ligula, vel aliquet eros auctor ac. Vestibulum ut velit ac mi aliquet feugiat.</p>

				<p>Vivamus at ante arcu. Suspendisse sed ante viverra, dignissim purus non, vulputate turpis. In hac habitasse platea dictumst. Nulla maximus, orci vel luctus tempus, lorem elit dignissim turpis, quis vulputate sapien urna eu quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam placerat urna id orci condimentum ullamcorper. Nunc gravida libero id diam gravida lobortis. Cras eu neque leo. Aenean eget iaculis massa. Proin hendrerit lorem in diam efficitur fringilla. Etiam efficitur lorem nec luctus pretium. In ullamcorper vitae nisl in tempus.</p>
	 		</article>
	 		<aside id="sidebar">
	 		  <div class="dark">
	 			<h3> What We Do </h3>
	 			<p>Curabitur fermentum mauris ac mauris vestibulum, non euismod turpis faucibus. In vitae elementum dolor. Nulla   et ultrices ligula. Donec maximus leo vestibulum, consectetur leo at, feugiat augue. </p>
	 		  </div> 
	 		</aside>
	 	</div>
	 </section>

	 <footer> 
	 	<p>Oragami Web Design Copyright &copy; 2019</p>

	 </footer>
   </body>
</html>